<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title><%= title %></title>
    <meta content="Quote Detail" name="SAI-APS-Portal" />
    <link rel="shortcut icon" href="/public/assets/images/SAI-Logo.JPG">
    <link rel="stylesheet" href="/public/plugins/morris/morris.css">

    <link href="/public/plugins/RWD-Table-Patterns/dist/css/rwd-table.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/public/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="/public/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="/public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

    <link href="/public/assets/css/breakerDragDrop.css" rel="stylesheet" type="text/css" />

    <!-- ION Slider -->
    <link href="/public/plugins/ion-rangeslider/ion.rangeSlider.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/ion-rangeslider/ion.rangeSlider.skinModern.css" rel="stylesheet" type="text/css"/>

    <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css">
    <style>
        .icon-success {
            color: #00C851;
        }
        .icon-danger {
            color: #ff4444;
        }
    </style>
</head>

<body>
<div id="wrapper">
    <!-- Top Bar Start -->
    <%- include('../partials/header') %>
    <!-- Top Bar End -->

    <!-- ========== Left Sidebar Start ========== -->
    <%- include('../partials/sidebar') %>
    <!-- Left Sidebar End -->

    <div class="content-page">
        <!-- Content Start -->
        <div class="content">
            <div class="container-fluid">

                <!-- Page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">SAI Portal Dashboard</h4>
                            <p class="text-muted mb-0">Quick access to common tools and recent activity.</p>
                        </div>
                    </div>
                </div>

                <!-- Cards -->
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="mt-0">Projects</h5>
                                <p class="text-muted">Create and manage projects.</p>
                                <a href="/projects" class="btn btn-primary">Open Projects</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="mt-0">PDF / DXF / BIN BOM</h5>
                                <p class="text-muted">Generate and download PDFs, DXFs, and BIN BOMs.</p>
                                <a href="../PDF-DXF-BIN_BOM" class="btn btn-primary">Open PDF/DXF/BIN</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="mt-0">Submittal</h5>
                                <p class="text-muted">Prepare submittal packages for review.</p>
                                <a href="../submittal" class="btn btn-primary">Open Submittal</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="mt-0">SlimVAC NAR</h5>
                                <p class="text-muted">SlimVAC NAR tools and exports.</p>
                                <a href="../slimVAC_NAR" class="btn btn-primary">Open SlimVAC</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="mt-0">Part Comparison</h5>
                                <p class="text-muted">Compare parts side-by-side to find differences.</p>
                                <a href="../partComparison" class="btn btn-primary">Open Comparison</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="mt-0">Rename</h5>
                                <p class="text-muted">Batch rename parts and assemblies.</p>
                                <a href="../renameMain" class="btn btn-primary">Open Rename</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar widgets: Quick Actions -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="header-title">Quick Actions</h5>
                                <div class="d-flex flex-column">
                                    <a href="../Projects/MBOM" class="btn btn-outline-secondary mb-2">Create MBOM</a>
                                    <a href="../PDF-DXF-BIN_BOM" class="btn btn-outline-secondary mb-2">Generate PDF/DXF</a>
                                    <a href="../submittal" class="btn btn-outline-secondary">New Submittal</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- container-fluid -->
        </div> <!-- content -->

    </div>

</div> <!-- content-page -->
<%- include('../partials/footer') %>
</div> <!-- wrapper -->

<%- include('../partials/scripts') %>

</body>
</html>
