<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title><%= title %></title>
    <meta content="Quote Detail" name="SAI-APS-Portal" />
    <link rel="shortcut icon" href="/public/assets/images/SAI-Logo.JPG">
    <link rel="stylesheet" href="/public/plugins/morris/morris.css">

    <link href="/public/plugins/RWD-Table-Patterns/dist/css/rwd-table.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/public/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="/public/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="/public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

    <link href="/public/assets/css/breakerDragDrop.css" rel="stylesheet" type="text/css" />

    <!-- ION Slider -->
    <link href="/public/plugins/ion-rangeslider/ion.rangeSlider.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/ion-rangeslider/ion.rangeSlider.skinModern.css" rel="stylesheet" type="text/css"/>

    <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

    <!-- jQuery provided by header -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#submittalSumTable').DataTable({
                "scrollCollapse": true,
                "paging": true,
                "pagingType": "simple"
            });
        });
    </script>

</head>
<body>

<div id="wrapper">

    <!-- Top Bar Start -->
    <%- include('../partials/header') %>
    <!-- Top Bar End -->

    <!-- ========== Left Sidebar Start ========== -->
    <%- include('../partials/sidebar') %>
    <!-- Left Sidebar End -->

    <div class="content-page">
        <!-- Content Start -->

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Mechanical Engineering</h4>
                            <div class="row justify-content-center">
                                <div class="col-sm-5">
                                    <div class="card m-b-20" style="height:94%;">
                                        <div class="card-body">
                                            <h4 class="mt-0 header-title">Create Layout</h4>
                                            <h6 style="color:red;"><%= message %></h6>

                                            <% if  (newLayoutData != null) { %>
                                            <form id="newLayoutForm" class="newLayoutForm" action="" method="POST">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <label for="example-text-input" class="col-form-label">Job #</label>
                                                            <input type="text" name="jobNum" class="form-control" value="<%=newLayoutData.jobNum%>" placeholder="Type Number Here" id="example-text-input" autocomplete="off" required>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label for="example-text-input" class="col-form-label">Release</label>
                                                            <input type="text" name="releaseNum" class="form-control" value="<%=newLayoutData.releaseNum%>" placeholder="Type Release Here" id="example-text-input" autocomplete="off" required>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label for="example-text-input" class="col-form-label">Job Name</label>
                                                            <input type="text" name="jobName" class="form-control" value="<%=newLayoutData.jobName%>" placeholder="Type Name Here" id="example-text-input" autocomplete="off" required>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label for="example-text-input" class="col-form-label">Customer</label>
                                                            <input type="text" name="customer" class="form-control" value="<%=newLayoutData.customer%>" placeholder="Type Customer Here" id="example-text-input" autocomplete="off" required>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label for="example-text-input" class="col-form-label">Layout Name</label>
                                                            <input type="text" name="layoutName" class="form-control" value="<%=newLayoutData.layoutName%>" placeholder="Type Designation Here" id="example-text-input" autocomplete="off" required>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label for="example-text-input" class="col-form-label">Drawn By</label>
                                                            <input type="text" name="drawnBy" class="form-control" value="<%=newLayoutData.drawnBy%>" placeholder="Type Initials Here" id="example-text-input" autocomplete="off" required>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <label for="example-text-input" class="col-form-label">Drawn Date</label>
                                                            <input type="text" name="drawnDate" class="form-control" value="<%=newLayoutData.drawnDate%>" placeholder="Type Date Here" id="example-text-input" autocomplete="off" required>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label for="example-text-input" class="col-form-label">Checked By</label>
                                                            <input type="text" name="checkedBy" class="form-control" value="<%=newLayoutData.checkedBy%>" placeholder="Type Initials Here" id="example-text-input" autocomplete="off" required>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <label for="example-text-input" class="col-form-label">Checked Date</label>
                                                            <input type="text" name="checkedDate" class="form-control" value="<%=newLayoutData.checkedDate%>" placeholder="Type Date Here" id="example-text-input" autocomplete="off" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row justify-content-center">
                                                        <div class="col-6"  style="margin-bottom: 2%;">
                                                            <input id="createBtn" type="submit" value="Create New" class="btn-block btn-lg btn-outline-success waves-effect waves-light" onclick="this.form.action='/createLayout'" />
                                                        </div>
                                                        <div class="col-6">
                                                            <input id="copyBtn" type="button" value="Copy From Existing" class="btn-block btn-lg btn-outline-secondary waves-effect waves-light" data-toggle="modal" data-target="#copyLayoutModal"/>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="copyLayoutModal" tabindex="-1" role="dialog" aria-labelledby="copyLayoutModalTitle" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLongTitle">Layout Search</h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <form id="copyLayoutForm" class="copyLayoutForm" action="" method="POST">
                                                                                <div class="form-group">
                                                                                    <p class="mb-0" style="font-size: medium">
                                                                                        Please fill out the following and click "Copy" afterwards
                                                                                    </p>
                                                                                    <p class="text-muted m-b-5"></p>
                                                                                    <div class="row">
                                                                                        <div class="col-sm-12">
                                                                                            <label for="example-text-input" class="col-form-label" style="font-size: small">Job Number</label>
                                                                                            <input type="text" name="copyJobNum" class="form-control" value="" placeholder="Type Number Here" id="example-text-input" autocomplete="off">
                                                                                        </div>
                                                                                    </div>
                                                                                    <p class="text-muted m-b-10"></p>
                                                                                    <div class="row">
                                                                                        <div class="col-sm-12">
                                                                                            <label for="example-text-input" class="col-form-label" style="font-size: small">Release</label>
                                                                                            <input type="text" name="copyReleaseNum" class="form-control" value="" placeholder="Type Release Here" id="example-text-input" autocomplete="off">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                        <div class="modal-footer justify-content-center">
                                                                            <div class="w-50">
                                                                                <input id="copyModalBtn" type="submit" value="Copy" class="btn-block btn-lg btn-info" onclick="this.form.action='/copyLayout'" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- END MODAL -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <% } else { %>
                                                <form id="createLayoutForm" class="createLayoutForm" action="" method="POST">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-sm-7">
                                                                <label for="example-text-input" class="col-form-label">Job #</label>
                                                                <input type="text" name="jobNum" class="form-control" value="" placeholder="Type Number Here" id="example-text-input" autocomplete="off" required>
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <label for="example-text-input" class="col-form-label">Release</label>
                                                                <input type="text" name="releaseNum" class="form-control" value="" placeholder="Type Release Here" id="example-text-input" autocomplete="off" required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <label for="example-text-input" class="col-form-label">Job Name</label>
                                                                <input type="text" name="jobName" class="form-control" value="" placeholder="Type Name Here" id="example-text-input" autocomplete="off" required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <label for="example-text-input" class="col-form-label">Customer</label>
                                                                <input type="text" name="customer" class="form-control" value="" placeholder="Type Customer Here" id="example-text-input" autocomplete="off" required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <label for="example-text-input" class="col-form-label">Layout Name</label>
                                                                <input type="text" name="layoutName" class="form-control" value="" placeholder="Type Designation Here" id="example-text-input" autocomplete="off" required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <label for="example-text-input" class="col-form-label">Drawn By</label>
                                                                <input type="text" name="drawnBy" class="form-control" value="" placeholder="Type Initials Here" id="example-text-input" autocomplete="off" required>
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <label for="example-text-input" class="col-form-label">Drawn Date</label>
                                                                <input type="date" name="drawnDate" class="form-control" value="" placeholder="Type Date Here" id="example-text-input" autocomplete="off" required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <label for="example-text-input" class="col-form-label">Checked By</label>
                                                                <input type="text" name="checkedBy" class="form-control" value="" placeholder="Type Initials Here" id="example-text-input" autocomplete="off" required>
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <label for="example-text-input" class="col-form-label">Checked Date</label>
                                                                <input type="date" name="checkedDate" class="form-control" value="" placeholder="Type Date Here" id="example-text-input" autocomplete="off" required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <label for="example-text-input" class="col-form-label">Rev Note</label>
                                                                <input type="text" name="revNote" class="form-control" value="INITIAL SUBMITTAL" placeholder="Type Rev Note Here" id="example-text-input" autocomplete="off" readonly="readonly" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row justify-content-center">
                                                            <div class="col-6"  style="margin-bottom: 2%;">
                                                                <input id="createBtn" type="submit" value="Create New" class="btn-block btn btn-outline-success waves-effect waves-light" onclick="this.form.action='/createLayout'" />
                                                            </div>
                                                            <div class="col-6">
                                                                <input id="copyBtn" type="button" value="Copy From Existing" class="btn-block btn btn-outline-secondary waves-effect waves-light" data-toggle="modal" data-target="#copyMBOMModal"/>
                                                                <!-- Modal -->
                                                                <div class="modal fade" id="copyLayoutModal" tabindex="-1" role="dialog" aria-labelledby="copyLayoutModalTitle" aria-hidden="true">
                                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="exampleModalLongTitle">Layout Search</h5>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form id="copyLayoutForm" class="copyLayoutForm" action="" method="POST">
                                                                                    <div class="form-group">
                                                                                        <p class="mb-0" style="font-size: medium">
                                                                                            Please fill out the following and click "Copy" afterwards
                                                                                        </p>
                                                                                        <p class="text-muted m-b-5"></p>
                                                                                        <div class="row">
                                                                                            <div class="col-sm-12">
                                                                                                <label for="example-text-input" class="col-form-label" style="font-size: small">Job Number</label>
                                                                                                <input type="text" name="copyJobNum" class="form-control" value="" placeholder="Type Number Here" id="example-text-input" autocomplete="off">
                                                                                            </div>
                                                                                        </div>
                                                                                        <p class="text-muted m-b-10"></p>
                                                                                        <div class="row">
                                                                                            <div class="col-sm-12">
                                                                                                <label for="example-text-input" class="col-form-label" style="font-size: small">Release</label>
                                                                                                <input type="text" name="copyReleaseNum" class="form-control" value="" placeholder="Type Release Here" id="example-text-input" autocomplete="off">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                            <div class="modal-footer justify-content-center">
                                                                                <div class="w-50">
                                                                                    <input id="copyModalBtn" type="submit" value="Copy" class="btn-block btn-lg btn-info" onclick="this.form.action='/copyLayout'" />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- END MODAL -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>




                                <div class="col-sm-7">
                                    <div class="card m-b-20">
                                        <div class="card-body">
                                            <h4 class="mt-0 header-title">Lookup Layout</h4>
                                            <p></p>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="layoutSumTable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%; display: block; overflow: auto;">
                                                        <thead>
                                                        <tr class="header">
                                                            <th style="display:none;">layoutID</th>
                                                            <th style="width:8%;">Job #</th>
                                                            <th style="width:5%;">Release</th>
                                                            <th style="width:22%;">Job Name</th>
                                                            <th style="width:18%;">Customer</th>
                                                            <th style="width:25%;">Layout Name</th>
                                                            <th style="width:10%;"></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <% if(!layoutData) { %>
                                                        <% } else { %>
                                                            <% if (layoutData.length != 0) { %>
                                                                <% for (var i = 0; i < layoutData.length; i++) { %>
                                                                <tr>
                                                                    <td style="display:none;"><%=layoutData[i].layoutID%></td>
                                                                    <td><%=layoutData[i].jobNum%></td>
                                                                    <td><%=layoutData[i].releaseNum%></td>
                                                                    <td><%=layoutData[i].jobName%></td>
                                                                    <td><%=layoutData[i].customer%></td>
                                                                    <td><%=layoutData[i].layoutName%></td>
                                                                    <td><a href="./searchLayout/?layoutID=<%=layoutData[i].jobNum%><%=layoutData[i].releaseNum%>_<%=layoutData[i].layoutID%>" class="btn btn-block btn-outline-secondary waves-effect waves-light">Open</a></td>
                                                                </tr>
                                                                <% } %>
                                                            <% } %>
                                                        <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <%- include('../partials/footer') %>
</div> <!-- wrapper -->
<%- include('../partials/scripts') %>

</body>
</html>
