<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title><%= title %></title>
    <meta content="Quote Detail" name="SAI-APS-Portal" />
    <link rel="shortcut icon" href="/public/assets/images/SAI-Logo.JPG">
    <link rel="stylesheet" href="/public/plugins/morris/morris.css">

    <link href="/public/plugins/RWD-Table-Patterns/dist/css/rwd-table.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/public/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="/public/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="/public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

    <link href="/public/assets/css/breakerDragDrop.css" rel="stylesheet" type="text/css" />
    <link href="/public/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <!-- ION Slider -->
    <link href="/public/plugins/ion-rangeslider/ion.rangeSlider.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/ion-rangeslider/ion.rangeSlider.skinModern.css" rel="stylesheet" type="text/css"/>

    <link href="/public/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="wrapper">
    <!-- Top Bar Start -->
    <%- include('../../partials/header') %>
    <!-- Top Bar End -->

    <!-- ========== Left Sidebar Start ========== -->
    <%- include('../../partials/sidebar') %>
    <!-- Left Sidebar End -->

    <% // defensive: ensure mbomBrkData[0] exists to avoid runtime errors when controller returned no rows %>
    <% if (typeof mbomBrkData === 'undefined' || !mbomBrkData) { mbomBrkData = []; } %>
    <% if (!mbomBrkData[0]) { mbomBrkData[0] = {}; } %>

    <% // jm* shorthand: prefer jobMaster when present, otherwise fall back to mbomData safely %>
    <% const jmJobNum = (typeof jobMaster !== 'undefined' && jobMaster && jobMaster.jobNum) ? jobMaster.jobNum : ((typeof mbomData !== 'undefined' && mbomData && mbomData.jobNum) ? mbomData.jobNum : ''); %>
    <% const jmJobName = (typeof jobMaster !== 'undefined' && jobMaster && jobMaster.jobTitle) ? jobMaster.jobTitle : ((typeof mbomData !== 'undefined' && mbomData && mbomData.jobName) ? mbomData.jobName : ''); %>
    <% const jmCustomer = (typeof jobMaster !== 'undefined' && jobMaster && jobMaster.customer) ? jobMaster.customer : ((typeof mbomData !== 'undefined' && mbomData && mbomData.customer) ? mbomData.customer : ''); %>

    <div class="content-page">
        <!-- Content Start -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Mechanical Engineering - BOM Configure</h4>
                            <div class="row justify-content-center">
                                <div class="col-sm-12">
                                    <div class="card m-b-20">
                                        <div class="card-body">
                                            <h4 class="mt-0 header-title">Current Job</h4>
                                            <form id="jobSelectForm" class="jobSelectForm" action="/saveItemChanges" method="POST">
                                                <div class="form-group">
                                                    <% if(mbomData) { %>
                                                        <div class="row">
                                                            <div class="col-sm-2">
                                                                <label for="example-text-input" class="col-form-label">Job Number</label>
                                                                <input type="text" name="jobNum" class="form-control" value="<%= (typeof jobMaster !== 'undefined' && jobMaster && jobMaster.jobNum) ? jobMaster.jobNum : (mbomData.jobNum || '') %>" placeholder="Type Number Here" id="" readonly="readonly">
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <label for="example-text-input" class="col-form-label">Release</label>
                                                                <input type="text" name="releaseNum" class="form-control" value="<%= mbomData.releaseNum %>" placeholder="Type Release Here" id="" readonly="readonly">
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <label for="example-text-input" class="col-form-label">Job Name</label>
                                                                <input type="text" name="jobName" class="form-control" value="<%= (typeof jobMaster !== 'undefined' && jobMaster && jobMaster.jobTitle) ? jobMaster.jobTitle : (mbomData.jobName || '') %>" placeholder="Type Name Here" id="" readonly="readonly">
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <label for="example-text-input" class="col-form-label">Customer</label>
                                                                <input type="text" name="customer" class="form-control" value="<%= (typeof jobMaster !== 'undefined' && jobMaster && jobMaster.customer) ? jobMaster.customer : (mbomData.customer || '') %>" placeholder="Type Customer Here" id="" readonly="readonly">
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <label for="example-text-input" class="col-form-label">Board Designation</label>
                                                                <input type="text" name="boardDesignation" class="form-control" value="<%= mbomData.boardDesignation %>" placeholder="Type Designation Here" id="" readonly="readonly">
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-sm-1" style="margin-top: 1%;">
                                                                <% if (mbomData.noSectionMBOM == 'N') { %>
                                                                    <input class="form-check-input" type="checkbox" value="true" name="noSectionMBOM" id="noSectionMBOM" disabled="disabled">
                                                                    <label for="noSectionMBOM" class="form-check-label">No Section MBOM</label>
                                                                <% } else { %>
                                                                    <input class="form-check-input" type="checkbox" value="true" name="noSectionMBOM" id="noSectionMBOM" checked="checked" disabled="disabled">
                                                                    <label for="noSectionMBOM" class="form-check-label">No Section MBOM</label>
                                                                <% } %>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card m-b-20">
                                        <div class="card-body">
                                            <h4 class="mt-0 header-title">Circuit Breaker Summary</h4>
                                            <p class="mb-0">
                                                Fill out the following for each layout, and click "Save" afterwards
                                            </p>
                                            <p class="text-muted m-b-30"></p>

                                            <form id="breakerForm" class="breakerForm" action="<%= (typeof projectId !== 'undefined' && projectId) ? ('/projects/' + projectId + '/editBreakerSave') : '/editBreakerSave' %>" method="POST">
                                                <div class="row">
                                                    <% if(mbomData) { %>
                                                        <div class="col-sm-2">
                                                            <input type="text" name="jobNum" class="form-control" value="<%= (typeof jobMaster !== 'undefined' && jobMaster && jobMaster.jobNum) ? jobMaster.jobNum : (mbomData.jobNum || '') %>" placeholder="Type Number Here" id="jobNum" readonly="readonly" hidden="hidden">
                                                            <input type="text" name="mbomID" class="form-control" value="<%= mbomData.mbomID %>" placeholder="Type Number Here" id="mbomID" readonly="readonly" hidden="hidden">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input type="text" name="releaseNum" class="form-control" value="<%= mbomData.releaseNum %>" placeholder="Type Release Here" id="releaseNum" readonly="readonly" hidden="hidden">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <input type="text" name="jobName" class="form-control" value="<%= (typeof jobMaster !== 'undefined' && jobMaster && jobMaster.jobTitle) ? jobMaster.jobTitle : (mbomData.jobName || '') %>" placeholder="Type Name Here" id="jobName" readonly="readonly" hidden="hidden">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input type="text" name="customer" class="form-control" value="<%= (typeof jobMaster !== 'undefined' && jobMaster && jobMaster.customer) ? jobMaster.customer : (mbomData.customer || '') %>" placeholder="Type Customer Here" id="customer" readonly="readonly" hidden="hidden">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <input type="text" name="boardDesignation" class="form-control" value="<%= mbomData.boardDesignation %>" placeholder="Type Designation Here" id="boardDesignation" readonly="readonly" hidden="hidden" >
                                                        </div>
                                                        <% if (typeof projectId !== 'undefined' && projectId) { %>
                                                            <input type="hidden" id="projectId" name="projectId" value="<%= projectId %>">
                                                        <% } %>
                                                        <div class="col-sm-3">
                                                            <input type="text" name="noSectionMBOM" class="form-control" value="<%= mbomData.noSectionMBOM%>" id="noSectionMBOM" readonly="readonly" hidden="hidden">
                                                        </div>
                                                    <% } %>
                                                    <div class="form-group">
                                                        <% if(mbomBrkData) { %>
                                                            <input type="text" name="idDev" class="form-control" value="<%= mbomBrkData[0].idDev || '' %>" hidden="hidden" >
                                                        <% } %>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label for="example-text-input" class="col-form-label">Device Designation</label>
                                                            <% if (!brkData) { %>
                                                                <input type="text" id="editDevDesLimit" name="devDesignation" maxlength="160" class="form-control" value="<%= mbomBrkData[0].devDesignation || '' %>" autocomplete="off"/>
                                                            <% } else { %>
                                                                <input type="text" id="editDevDesLimit" name="devDesignation" maxlength="160" class="form-control" value="<%= brkData.devDesignation %>" autocomplete="off"/>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label for="example-text-input" class="col-form-label">Breaker P/N</label>
                                                            <% if (!brkData) { %>
                                                                <input type="text" id="editBrkPN"  name="brkPN" class="form-control" value="<%= mbomBrkData[0].brkPN || '' %>" autocomplete="off"/>
                                                            <% } else { %>
                                                                <input type="text" id="editBrkPN"  name="brkPN" class="form-control" value="<%= brkData.brkPN %>" autocomplete="off"/>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label for="example-text-input" class="col-form-label">Cradle P/N</label>
                                                            <% if (!brkData) { %>
                                                                <input type="text" id="editCradlePN"  name="cradlePN" class="form-control" value="<%= mbomBrkData[0].cradlePN || '' %>" autocomplete="off"/>
                                                            <% } else { %>
                                                                <input type="text" id="editCradlePN"  name="cradlePN" class="form-control" value="<%= brkData.cradlePN %>" autocomplete="off"/>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <label for="example-text-input" class="col-form-label">Manufacturer</label>
                                                            <% if (!brkData) { %>
                                                                <input type="text" id="editDevMfg"  name="devMfg" class="form-control" value="<%= mbomBrkData[0].devMfg || '' %>" placeholder="Type Mfg. Here" autocomplete="off"/>
                                                            <% } else { %>
                                                                <input type="text" id="editDevMfg"  name="devMfg" class="form-control" value="<%= brkData.devMfg %>" placeholder="Type Mfg. Here" autocomplete="off"/>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <label for="example-text-input" class="col-form-label">Cat. Code</label>
                                                            <select class="form-control" id="editDevCatCode" name="catCode">
                                                                <option value="Select">Select</option>
                                                                <option value="00-CB" selected>00-CB</option>
                                                                <% if ((mbomBrkData[0].catCode || '') == '36-CB MC') { %>
                                                                    <option value="36-CB MC" selected="selected">36-CB MC</option>
                                                                <% } else { %>
                                                                    <option value="36-CB MC">36-CB MC</option>
                                                                <% } %>
                                                                <% if ((mbomBrkData[0].catCode || '') == '37-CB IC') { %>
                                                                    <option value="37-CB IC" selected="selected">37-CB IC</option>
                                                                <% } else { %>
                                                                    <option value="37-CB IC">37-CB IC</option>
                                                                <% } %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <label for="example-text-input" class="col-form-label">Class</label>
                                                            <select class="form-control" id="editDevClass" name="class">
                                                                <% if ((mbomBrkData[0].class || '') == 'MCCB') { %>
                                                                    <option value="Select">Select</option>
                                                                    <option value="MCCB" selected>MCCB</option>
                                                                    <option value="ICCB">ICCB</option>
                                                                <% } else if ((mbomBrkData[0].class || '') == 'ICCB') { %>
                                                                    <option value="Select">Select</option>
                                                                    <option value="MCCB">MCCB</option>
                                                                    <option value="ICCB" selected>ICCB</option>
                                                                <% } else { %>
                                                                    <option value="Select">Select</option>
                                                                    <option value="MCCB">MCCB</option>
                                                                    <option value="ICCB">ICCB</option>
                                                                <% } %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <label for="" class="col-form-label"></label>
                                                            <input type="text" id="" name="unitOfIssue" class="form-control" value="EA" hidden="hidden"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end breaker form -->
                                                <!-- Inject hidden accessories JSON field and expose initial accessory data for client-side editing -->
                                                <input type="hidden" id="brkAccessoriesJson" name="brkAccessories" value="" />
                                                <% var __safeBrkAccData = JSON.stringify(Array.isArray(brkAccData) ? brkAccData : []).replace(/</g, '\\u003c'); var __safeBrkAccDataHtml = __safeBrkAccData.replace(/"/g, '&quot;'); %>
                                                <input type="hidden" id="brkInitialJson" value="<%- __safeBrkAccDataHtml %>" />
                                                <script>
                                                    (function(){
                                                        try {
                                                            var inp = document.getElementById('brkInitialJson');
                                                            var raw = (inp && inp.value) ? inp.value : '[]';
                                                            window.__initialBrkAccData = JSON.parse(raw);
                                                        } catch (e) { window.__initialBrkAccData = []; }
                                                    })();
                                                </script>
                                            </form>

                                            <div class="row" id="breakerAccessoriesDiv" style="display: flex;">
                                                <div class="col-sm-9" style="padding-top: 10px;">
                                                    <h6>Breaker Loose Accessories</h6>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-1">
                                                            <label for="accessoryQty" class="col-form-label">Qty</label>
                                                            <input type="number" min="1" id="accessoryQty" name="accessoryQty" class="form-control" value="" placeholder="#" autocomplete="off" />
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <label for="accessoryType" class="col-form-label">Accessory Type</label>
                                                            <input type="text" id="accessoryType" name="accessoryType" class="form-control" value="" placeholder="Type Accessory Type" autocomplete="off" />
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label for="accessoryDescLimit" class="col-form-label">Description</label>
                                                            <input type="text" id="accessoryDescLimit" maxlength="160" name="accessoryDesc" class="form-control" value="" placeholder="Type Accessory Description" autocomplete="off" />
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="accessoryPN" class="col-form-label">P/N</label>
                                                            <input type="text" id="accessoryPN" name="accessoryPN" class="form-control" value="" placeholder="Type P/N Here" autocomplete="off" />
                                                        </div>
                                                        <div class="col-sm-2 d-flex align-items-center">
                                                            <div class="form-group mb-0 w-100">
                                                                <label class="col-form-label invisible">&#8203;</label>
                                                                <button id="addAccessoryBtn" type="button" class="btn btn-md btn-outline-info btn-block waves-effect waves-light">Add Accessory</button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-9" style="padding-top: 15px;">
                                                        <h6>Current Loose Accessories</h6>
                                                    </div>

                                                    <div class="row mt-2 justify-content-center">
                                                        <div class="col-sm-11">
                                                            <table id="breakerAccessoriesTable" class="table table-sm table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width:5%">Qty</th>
                                                                        <th style="width:17%">Type</th>
                                                                        <th style="width:17%">Mfg.</th>
                                                                        <th style="width:25%">Description</th>
                                                                        <th style="width:16%">P/N</th>
                                                                        <th style="width:20%">Actions</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row justify-content-center">
                                                <div class="col-2" style="padding-top: 15px;">
                                                    <input id="uploadBtn" type="submit" value="Save" class="btn-block btn-lg btn-outline-success waves-effect waves-light" form="breakerForm" />
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- container-fluid -->
        </div> <!-- content -->
    </div> <!-- content-page -->
    <%- include('../../partials/footer') %>
</div> <!-- wrapper -->


<!-- Responsive-table-->
<script src="/public/plugins/RWD-Table-Patterns/dist/js/rwd-table.min.js"></script>
<script>
    $(function() {
        $('.table-responsive').responsiveTable({
            addDisplayAllBtn: 'btn btn-secondary'
        });
    });
</script>

<%- include('../../partials/scripts') %>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var uploadBtn = document.getElementById('uploadBtn');
        if (uploadBtn) {
            uploadBtn.addEventListener('click', function(){
                var form = document.getElementById('breakerForm');
                if (form) form.submit();
            });
        }

        // bind data-fn on this page (openBreakerAccessories)
        document.querySelectorAll('input[data-fn], input[data-toggle-hidden-prev]').forEach(function(el){
            if (el.hasAttribute('data-fn')) {
                el.addEventListener('change', function(){
                    var fnName = this.getAttribute('data-fn');
                    var fn = window[fnName];
                    if (typeof fn === 'function') {
                        try { fn(this); } catch(err) { console.error(fnName + ' error', err); }
                    }
                });
            }
            if (el.hasAttribute('data-toggle-hidden-prev')) {
                el.addEventListener('change', function(){
                    try { var prev = this.previousElementSibling; if (prev && prev.tagName === 'INPUT' && prev.type === 'hidden') prev.value = this.checked ? '1' : '0'; } catch(e) { console.error(e); }
                });
            }
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        // upload/save binding
        var uploadBtn = document.getElementById('uploadBtn');
        if (uploadBtn) {
            uploadBtn.addEventListener('click', function(){
                var form = document.getElementById('breakerForm');
                if (form) form.submit();
            });
        }

        // data-fn bindings (openBreakerAccessories)
        document.querySelectorAll('input[data-fn], input[data-toggle-hidden-prev]').forEach(function(el){
            if (el.hasAttribute('data-fn')) {
                el.addEventListener('change', function(){
                    var fnName = this.getAttribute('data-fn');
                    var fn = window[fnName];
                    if (typeof fn === 'function') {
                        try { fn(this); } catch(err) { console.error(fnName + ' error', err); }
                    }
                });
            }
            if (el.hasAttribute('data-toggle-hidden-prev')) {
                el.addEventListener('change', function(){
                    try { var prev = this.previousElementSibling; if (prev && prev.tagName === 'INPUT' && prev.type === 'hidden') prev.value = this.checked ? '1' : '0'; } catch(e) { console.error(e); }
                });
            }
        });

        // accessory handlers (add/delete/save)
        document.querySelectorAll('.add-accessory-btn').forEach(function(btn){
            btn.addEventListener('click', function(e){
                var dev = this.getAttribute('data-dev');
                if (!dev) return;
                if (typeof addBrkAccessoryFromEdit === 'function') {
                    try { addBrkAccessoryFromEdit(parseInt(dev)); } catch(err) { console.error(err); }
                }
            });
        });

        document.querySelectorAll('.delete-acc-btn').forEach(function(btn){
            btn.addEventListener('click', function(e){
                if (typeof deleteBrkAccFromEdit === 'function') {
                    try { deleteBrkAccFromEdit({ target: this }); } catch(err) { console.error(err); }
                }
            });
        });

        document.querySelectorAll('.save-acc-btn').forEach(function(btn){
            btn.addEventListener('click', function(e){
                if (typeof editBrkAccFromEdit === 'function') {
                    try { editBrkAccFromEdit(this); } catch(err) { console.error(err); }
                }
            });
        });
    });
</script>

<script src="/public/plugins/ion-rangeslider/ion.rangeSlider.min.js"></script>
<script src="/public/assets/js/mbomCheckbox.js"></script>
<script src="/public/assets/js/mbomBreakerAccessories.js"></script>

<!-- User developed scripts -->
<script src="/public/assets/js/mbomFilterDropdown.js"></script>

<!-- Creoson -->
<script src="/creoson/creoConnect.js"></script>

</body>
</html>
