<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title><%= title %></title>
    <meta content="Quote Detail" name="SAI-APS-Portal" />
    <link rel="shortcut icon" href="/public/assets/images/SAI-Logo.JPG">
    <link rel="stylesheet" href="/public/plugins/morris/morris.css">

    <link href="/public/plugins/RWD-Table-Patterns/dist/css/rwd-table.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/public/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="/public/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="/public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

    <link href="/public/assets/css/breakerDragDrop.css" rel="stylesheet" type="text/css" />

    <!-- ION Slider -->
    <link href="/public/plugins/ion-rangeslider/ion.rangeSlider.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/ion-rangeslider/ion.rangeSlider.skinModern.css" rel="stylesheet" type="text/css"/>

    <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css">
    <style>
        .icon-success {
            color: #00C851;
        }
        .icon-danger {
            color: #ff4444;
        }
    </style>
</head>

<body>
<div id="wrapper">
    <!-- Top Bar Start -->
    <%- include('../partials/header') %>
    <!-- Top Bar End -->

    <!-- ========== Left Sidebar Start ========== -->
    <%- include('../partials/sidebar') %>
    <!-- Left Sidebar End -->

    <div class="content-page">
        <!-- Content Start -->

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Mechanical Engineering</h4>
                                <div class="row justify-content-center">
                                    <div class="col-sm-12">
                                        <div class="card m-b-20">
                                            <div class="card-body">
                                                <h4 class="mt-0 header-title">Current Design</h4>
                                                <% if (message != null) { %>
                                                <h6 style="color:#ff4444;"><%=message%></h6>
                                                <% } %>
                                                    <form id="setWDform" class="setWDform" action="/setWD" method="POST">
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <% if (outputDir == undefined) { %>
                                                                    <div class="col-sm-9">
                                                                        <% if (workingDir != undefined) { %>
                                                                            <label for="example-text-input" class="col-form-label">Working Directory</label>
                                                                            <input type="text" name="CREO_workingDir" class="form-control" value="<%= workingDir %>" readonly="readonly" placeholder="Choose the location of the PROE Working Directory" required/>
                                                                        <% } else { %>
                                                                            <label for="example-text-input" class="col-form-label">Working Directory</label>
                                                                            <input type="text" name="CREO_workingDir" class="form-control" value="" placeholder="Choose the location of the PROE Working Directory" required/>
                                                                        <% } %>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <input id="uploadBtn" type="submit" value="Set Working Directory" class="btn-block btn-lg btn-outline-secondary waves-effect waves-light" style="margin-top:9%;" />
                                                                    </div>
                                                                <% } else { %>
                                                                    <div class="col-sm-12">
                                                                        <label for="example-text-input" class="col-form-label">Working Directory</label>
                                                                        <input type="text" name="CREO_workingDir" class="form-control" value="<%= workingDir %>" readonly="readonly" placeholder="Choose the location of the PROE Working Directory" required/>
                                                                    </div>
                                                                <% } %>
                                                            </div>
                                                        </div>
                                                    </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% if (asmList.length != 0) { %>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card m-b-20">
                                            <div class="card-body">
                                                <% if (sortedCheckedDwgs.length != 0) { %>
                                                    <h4 class="mt-0 header-title">Selected Assembly</h4>
                                                    <div class="row justify-content-center">
                                                        <div class="col-sm-12">
                                                            <table id="creoAsmTable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                                <thead>
                                                                <tr class="header">
                                                                    <th style="width:100%;">Assembly</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <% for (var i = 0; i < asmList.length; i++) { %>
                                                                <tr>
                                                                    <td><input type="text" name="asmName" value="<%=asmList[i]%>" hidden="hidden" /><%=asmList[i]%></td>
                                                                </tr>
                                                                <% } %>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                <% } else { %>
                                                    <h4 class="mt-0 header-title">Top-Level Assembly Selection</h4>
                                                    <form id="asmForm" class="asmForm" action="" method="POST">
                                                        <input type="text" name="CREO_workingDir" class="form-control" value="<%= workingDir %>" hidden="hidden" required/>
                                                        <input type="text" name="CREO_outputDir" class="form-control" value="<%= outputDir %>" hidden="hidden" required/>
                                                        <input id="loadBtn" type="submit" value="Load" class="btn btn-lg btn-outline-success waves-effect waves-light" onclick="this.form.action='./loadDesign'" style="margin-bottom:1%;" />
                                                        <div class="row justify-content-center">
                                                            <div class="col-sm-12">
                                                                <table id="creoAsmTable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                                    <thead>
                                                                    <tr class="header">
                                                                        <th style="width:8%;">Include In Export</th>
                                                                        <th style="width:92%;">Assembly</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <% for (var i = 0; i < asmList.length; i++) { %>
                                                                        <% if (asmList[i].slice(7,11) == '0000') { %>
                                                                        <tr>
                                                                            <td><input type="hidden" value="0" name="includeInExportCheck"><input class="form-check-input" type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value" style="margin-left:3%; margin-top:0;"></td>
                                                                            <td><input type="text" name="asmName" value="<%=asmList[i]%>" hidden="hidden" /><%=asmList[i]%></td>
                                                                        </tr>
                                                                        <% } %>
                                                                    <% } %>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <input type="text" value="<%=asmList.length%>" name="asmCount" hidden="hidden" />
                                                    </form>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- content-page -->
    <%- include('../partials/footer') %>
</div> <!-- wrapper -->
    <%- include('../partials/scripts') %>

    <script>
        $(function() {
            $('.table-responsive').responsiveTable({
                addDisplayAllBtn: 'btn btn-secondary'
            });
        });
    </script>

    </body>
    </html>
