<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title><%= title %></title>
    <meta content="Quote Detail" name="SAI-APS-Portal" />
    <link rel="shortcut icon" href="/public/assets/images/SAI-Logo.JPG">
    <link rel="stylesheet" href="/public/plugins/morris/morris.css">

    <link href="/public/plugins/RWD-Table-Patterns/dist/css/rwd-table.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/public/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="/public/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="/public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

    <link href="/public/assets/css/breakerDragDrop.css" rel="stylesheet" type="text/css" />
    <link href="/public/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <!-- ION Slider -->
    <link href="/public/plugins/ion-rangeslider/ion.rangeSlider.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/ion-rangeslider/ion.rangeSlider.skinModern.css" rel="stylesheet" type="text/css"/>

    <link href="/public/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css">
    <style>
        .relative-input { position: relative; }
        .manual-input { display: block; margin-top: .5rem; }
        .manual-input[disabled], .manual-input.disabled { opacity: .65; background-color: #f8f9fa; }
        .relative-input .form-control, .relative-input .select2-container { min-height: 38px; }
    </style>
</head>

<body>
<div id="wrapper">
    <!-- Top Bar Start -->
    <%- include('../partials/header') %>
    <!-- Top Bar End -->

    <!-- ========== Left Sidebar Start ========== -->
    <%- include('../partials/sidebar') %>
    <!-- Left Sidebar End -->

    <div class="content-page">
        <!-- Content Start -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Mechanical Engineering - BOM Configure</h4>
                            <div class="row justify-content-center">
                                <div class="col-sm-12">
                                    <div class="card m-b-20">
                                        <div class="card-body">
                                            <h4 class="mt-0 header-title">Current Job</h4>
                                            <form id="jobSelectForm" class="jobSelectForm" action="/saveComItemChanges" method="POST">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <% if(mbomData) { %>
                                                            <div class="col-sm-2">
                                                                <label for="example-text-input" class="col-form-label">Job Number</label>
                                                                <input type="text" name="jobNum" class="form-control" value="<%= mbomData.jobNum %>" placeholder="Type Number Here" id="example-text-input" readonly="readonly">
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <label for="example-text-input" class="col-form-label">Release</label>
                                                                <input type="text" name="releaseNum" class="form-control" value="<%= mbomData.releaseNum %>" placeholder="Type Release Here" id="example-text-input" readonly="readonly">
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <label for="example-text-input" class="col-form-label">Job Name</label>
                                                                <input type="text" name="jobName" class="form-control" value="<%= mbomData.jobName %>" placeholder="Type Name Here" id="example-text-input" readonly="readonly">
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <label for="example-text-input" class="col-form-label">Customer</label>
                                                                <input type="text" name="customer" class="form-control" value="<%= mbomData.customer %>" placeholder="Type Customer Here" id="example-text-input" readonly="readonly">
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <label for="example-text-input" class="col-form-label">Board Designation</label>
                                                                <input type="text" name="boardDesignation" class="form-control" value="<%= mbomData.boardDesignation %>" placeholder="Type Designation Here" id="example-text-input" readonly="readonly">
                                                            </div>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card m-b-20">
                                        <div class="card-body">
                                            <h4 class="mt-0 header-title">Item Summary</h4>
                                            <p class="mb-0">
                                                Fill out the following for each layout, and click "Save" afterwards
                                            </p>
                                            <p class="text-muted m-b-30"></p>
                                            <form id="itemForm" class="itemForm" action="/editComItemSave/?itemSumID=<%= mbomItemData[0].itemSumID %>" method="POST">
                                                <div class="form-group">
                                                    <% if(mbomData) { %>
                                                        <div class="col-sm-12">
                                                            <input type="text" name="jobNum" class="form-control" value="<%= mbomData.jobNum %>" id="jobNum" hidden="hidden">
                                                            <input type="text" name="releaseNum" class="form-control" value="<%= mbomData.releaseNum %>" id="releaseNum" hidden="hidden">
                                                            <input type="text" name="mbomID" class="form-control" value="<%= mbomData.mbomID %>" id="mbomID" hidden="hidden">
                                                            <input type="text" name="jobName" class="form-control" value="<%= mbomData.jobName %>" id="jobName" hidden="hidden">
                                                            <input type="text" name="customer" class="form-control" value="<%= mbomData.customer %>" id="customer" hidden="hidden">
                                                            <input type="text" name="boardDesignation" class="form-control" value="<%= mbomData.boardDesignation %>" id="boardDesignation" hidden="hidden">
                                                            <input type="text" name="numSections" class="form-control" value="<%= mbomData.numSections %>" id="numSections" hidden="hidden">
                                                        </div>
                                                    <% } %>
                                                    <% if(mbomItemData) { %>
                                                        <input type="text" name="itemSumID" class="form-control" value="<%= mbomItemData[0].itemSumID %>" hidden="hidden" >
                                                    <% } %>
                                                    <% // Provide mapping JSON for client-side dependent selects (mfg, desc, pn)
                                                        const mfgByType = {};
                                                        const mfgSet = new Set();
                                                        for (let it of (comItemData || [])) {
                                                            if (!it || !it.itemType) continue;
                                                            if (!mfgByType[it.itemType]) mfgByType[it.itemType] = new Set();
                                                            if (it.itemMfg && String(it.itemMfg).toUpperCase() !== 'OTHER') {
                                                                mfgByType[it.itemType].add(it.itemMfg);
                                                                mfgSet.add(it.itemMfg);
                                                            }
                                                        }
                                                        const mfgByTypeObj = {};
                                                        for (let t of Object.keys(mfgByType)) mfgByTypeObj[t] = Array.from(mfgByType[t]).sort();
                                                        const safeMfgJson = JSON.stringify(mfgByTypeObj).replace(/</g, '\u003c').replace(/'/g, '&#39;');

                                                        const descByPair = {};
                                                        const allDescSet = new Set();
                                                        for (let it of (comItemData || [])) {
                                                            if (!it || !it.itemType) continue;
                                                            const t = it.itemType;
                                                            const m = it.itemMfg || '';
                                                            const d = it.itemDesc || '';
                                                            if (d) allDescSet.add(d);
                                                            const key = t + '||' + m;
                                                            if (!descByPair[key]) descByPair[key] = new Set();
                                                            if (d && String(d).toUpperCase() !== 'OTHER') descByPair[key].add(d);
                                                        }
                                                        const descByPairObj = {};
                                                        for (let k of Object.keys(descByPair)) descByPairObj[k] = Array.from(descByPair[k]).sort();
                                                        const allDescList = Array.from(allDescSet).sort();
                                                        const safeDescJson = JSON.stringify({ byPair: descByPairObj, all: allDescList }).replace(/</g, '\u003c').replace(/'/g, '&#39;');

                                                        const pnByTriplet = {};
                                                        const allPnSet = new Set();
                                                        for (let it of (comItemData || [])) {
                                                            if (!it || !it.itemType) continue;
                                                            const t = it.itemType;
                                                            const m = it.itemMfg || '';
                                                            const d = it.itemDesc || '';
                                                            const p = it.itemPN || '';
                                                            if (p) allPnSet.add(p);
                                                            const key = t + '||' + m + '||' + d;
                                                            if (!pnByTriplet[key]) pnByTriplet[key] = new Set();
                                                            if (p && String(p).toUpperCase() !== 'OTHER') pnByTriplet[key].add(p);
                                                        }
                                                        const pnByTripletObj = {};
                                                        for (let k of Object.keys(pnByTriplet)) pnByTripletObj[k] = Array.from(pnByTriplet[k]).sort();
                                                        const allPnList = Array.from(allPnSet).sort();
                                                        const safePnJson = JSON.stringify({ byTriplet: pnByTripletObj, all: allPnList }).replace(/</g, '\u003c').replace(/'/g, '&#39;');
                                                    %>
                                                    <% const _mbomSecData = (typeof mbomSecData !== 'undefined' && mbomSecData) ? mbomSecData : []; %>
                                                    %>
                                                    <div id="mfg-data" style="display:none;" data-mfg='<%= safeMfgJson %>'></div>
                                                    <div id="desc-data" style="display:none;" data-desc='<%= safeDescJson %>'></div>
                                                    <div id="pn-data" style="display:none;" data-pn='<%= safePnJson %>'></div>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <label class="col-form-label">Item Type</label>
                                                            <select class="form-control itemTypeSelect" id="itemEditSelect" name="itemTypeSelect" required>
                                                                <option value="">Select Item Type</option>
                                                                    <% let itemTypes = new Set();%>
                                                                    <% for(let el of (comItemData || [])){ if(el && el.itemType) itemTypes.add(el.itemType); } %>
                                                                    <% const sortedItemTypes = Array.from(itemTypes).sort(); %>
                                                                    <% for(let el of sortedItemTypes){ %>
                                                                        <% if(el == editData.itemType){ %>
                                                                            <option value="<%= el%>" selected><%=el%></option>
                                                                        <% } else { %>
                                                                            <option value="<%= el%>"><%=el%></option>
                                                                        <% } %>
                                                                    <% } %>
                                                                <option value="OTHER">OTHER</option>
                                                            </select>
                                                            <input type="text" name="itemTypeOther" class="form-control itemTypeOther manual-input" id="otherItemType" value="" placeholder="Item Type Here" disabled="disabled" required/>
                                                            <input type="hidden" name="itemType" class="itemTypeHidden" value="<%= editData.itemType %>" />
                                                        </div>

                                                        <div class="col-md-3">
                                                            <label for="example-text-input" class="col-form-label">Item Mfg.</label>
                                                            <select class="form-control select2 itemMfgSelect" id="mfgEditSelect" name="itemMfgSelect" required>
                                                                    <option value="">Select</option>
                                                                    <% if (editData && editData.itemMfg) { %>
                                                                        <option value="<%= editData.itemMfg %>" selected><%= editData.itemMfg %></option>
                                                                    <% } %>
                                                                    <option value="OTHER">OTHER</option>
                                                            </select>
                                                            <input type="text" name="itemMfgOther" class="form-control itemMfgOther manual-input" id="otherMfgType" value="" placeholder="Type Mfg. Here" disabled="disabled" required/>
                                                            <input type="hidden" name="itemMfg" class="itemMfgHidden" value="<%= editData.itemMfg %>" />
                                                        </div>

                                                        <div class="col-md-3">
                                                            <label for="example-text-input" class="col-form-label">Description</label>
                                                                <select class="form-control itemDescSelect" id="descEditSelect" name="itemDescSelect" required>
                                                                    <option value="">Select</option>
                                                                    <% if (editData && editData.itemDesc) { %>
                                                                        <option value="<%= editData.itemDesc %>" selected><%= editData.itemDesc %></option>
                                                                    <% } %>
                                                                    <option value="OTHER">OTHER</option>
                                                                </select>
                                                                <input type="text" name="itemDescOther" class="form-control itemDescOther manual-input" id="itemDescOther" value="" placeholder="Type Description Here" disabled="disabled" required/>
                                                            <input type="hidden" name="itemDesc" class="itemDescHidden" value="<%= editData.itemDesc %>" />
                                                        </div>

                                                        <div class="col-md-3">
                                                            <label for="example-text-input" class="col-form-label">P/N</label>
                                                            <select class="form-control itemPNSelect" id="pnEditSelect" name="itemPNSelect">
                                                                <option value="">Select</option>
                                                                <% if (editData && editData.itemPN) { %>
                                                                    <option value="<%= editData.itemPN %>" selected><%= editData.itemPN %></option>
                                                                <% } %>
                                                                <option value="OTHER">OTHER</option>
                                                            </select>
                                                            <input type="text" name="itemPNOther" class="form-control itemPNOther manual-input" id="itemPNOther" value="" placeholder="Type P/N Here" disabled="disabled" required/>
                                                            <input type="hidden" name="itemPN" class="itemPNHidden" value="<%= editData.itemPN %>" />
                                                        </div>
                                                    </div>

                                                    <% const unitSet = new Set(); for (let it of (comItemData || [])) if (it && it.unitOfIssue) unitSet.add(it.unitOfIssue); const unitList = Array.from(unitSet).sort(); %>
                                                    <div id="uncommonRow" class="row" style="display:none;">
                                                        <div class="col-md-4">
                                                            <label class="col-form-label">Unit Of Issue</label>
                                                            <select name="unitOfIssue" class="form-control unitOfIssueSelect">
                                                                <option value="">Select Unit</option>
                                                                <% for (let u of unitList) { %>
                                                                    <option value="<%= u %>"><%= u %></option>
                                                                <% } %>
                                                            </select>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label class="col-form-label">Cat. Code</label>
                                                            <select name="catCode" class="form-control catCodeSelect">
                                                                <option value="">Select Cat. Code</option>
                                                                <% for (let c of (catCodeData || [])) { %>
                                                                    <option value="<%= c %>"><%= c %></option>
                                                                <% } %>
                                                            </select>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label class="col-form-label">Class</label>
                                                            <select name="class" class="form-control classSelect">
                                                                <option value="">Select Class</option>
                                                                <% for (let cl of (classCodeData || [])) { %>
                                                                    <option value="<%= cl %>"><%= cl %></option>
                                                                <% } %>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-1">
                                                            <label for="itemQty" class="col-form-label">Qty</label>
                                                            <input name="itemQty" type="number" min="1" max="99" step="1" class="form-control" value="<%= mbomItemData[0].itemQty %>" placeholder="#" style="width:60px; height:38px;" required/>
                                                        </div>

                                                        <div class="col-md-2"> 
                                                            <label class="col-form-label">Section</label>
                                                            <select name="secID" class="form-control itemSectionSelect">
                                                                <option value="">Unassigned</option>
                                                                <% for (let s of (_mbomSecData || [])) { %>
                                                                    <% const sn = parseInt(s.sectionNum, 10); %>
                                                                    <% const label = (!isNaN(sn) && sn < 10) ? ('Section 10' + s.sectionNum) : ('Section 1' + (isNaN(sn) ? s.sectionNum : sn)); %>
                                                                    <% if (mbomItemData && mbomItemData[0] && mbomItemData[0].secID == s.secID) { %>
                                                                        <option value="<%= s.secID %>" selected><%= label %></option>
                                                                    <% } else { %>
                                                                        <option value="<%= s.secID %>"><%= label %></option>
                                                                    <% } %>
                                                                <% } %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row">
                                                        <div class="col text-center p-2">
                                                            <div>
                                                                <div class="">
                                                                    <label for="editShipLoose" class="form-check-label" style="margin-top: 15px">Ship Item Loose?</label>
                                                                    <% if(mbomItemData[0].shipLoose == 'Y'){ %>
                                                                        <input type="checkbox" name="editShipLoose" id="editShipLoose" value="Y" checked="checked"/>
                                                                    <% } else { %>
                                                                        <input type="checkbox" name="editShipLoose" id="editShipLoose" value="Y"/>
                                                                    <% } %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row justify-content-center">
                                                        <div class="col-2 text-center">
                                                            <input id="uploadBtn" type="submit" value="Save" class="btn btn-block btn-lg btn-success waves-effect waves-light" onclick=""/>
                                                        </div>
                                                        <div class="col-2 text-center">
                                                            <a id="cancelBtn" href="../searchMBOM/?bomID=<%= (mbomData && mbomData.jobNum) ? mbomData.jobNum : '' %><%= (mbomData && mbomData.releaseNum) ? mbomData.releaseNum : '' %>_<%= (mbomData && mbomData.mbomID) ? mbomData.mbomID : '' %>" class="btn btn-block btn-lg btn-secondary waves-effect waves-light">Cancel</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- container-fluid -->
        </div> <!-- content -->
    </div> <!-- content-page -->
    <%- include('../partials/footer') %>
</div> <!-- wrapper -->
        <%- include('../partials/scripts') %>

        <script>
            $(function() {
                $('.table-responsive').responsiveTable({
                    addDisplayAllBtn: 'btn btn-secondary'
                });
            });
        </script>

        

        <!-- User developed scripts -->
        <script src="/public/assets/js/mbomFilterDropdown.js"></script>

        </body>
        </html>